body{
background-color:#f4f7f6;
}
.container{
    width: 90%;
    margin:0 auto;
}

.site-ttl{
    font-size: 1vw;
    margin: 2% 0;
    font-weight: 600;
    color:#080210;
}


.projects{
    display: flex;
    flex-wrap: wrap;
    gap:20px
}
.project{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap:0;
}
.project .image{
    height: 70%;
    width: 100%;
    transition: transform 1s ease-in-out;
}
.project .image img{
    height: 100%;
    width: 100%
}
.project:hover .icons{
background-color: rgba(0, 0, 0, 0.5);
display: flex;
}

.icons{
    position: absolute;
    top:0;
    left:50%;
    flex-direction: column;
    align-items: center;
    display: none;
    justify-content: center;
    transition:all 1s ease-in-out;
    transform: translateX(-50%);
    height: 70%;
    width: 100%;
}


.icons a:nth-child(1){
text-decoration: none;
color:black;
padding: 3% 5%;
border-radius: 30px;
background-color: white;
font-size: 1.1vw;
}
.icons a:nth-child(2){
    color:white;
    text-decoration: none;
    border: 1px solid white;
    height: 32px;
    margin-top: 4%;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;    
}
.details{
    background-color: white;
    padding: 4%;
    height: 30%;
}

.country{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 1vw;
}
.country p:nth-child(1){
    font-weight: 300 !important;
}

.profile_pic{
    height: 24px;
    width: 24px;
    aspect-ratio: 1 /1 ;
    border-radius: 50%;
}
.dev{
    display: flex;
    width: 100%;
    align-items: center;
    gap:10px;
    padding: 2% 0;
}
.dev a {
    text-decoration: none;
    color: #080210;
    font-weight: 300;
    font-size: 1vw;
}
.dev a span{
    font-weight: 600;
    text-transform: uppercase;
}
.hr{
    background-color: #dbe0df;
    height: 2px;
    width: 100%;
}
.country-ttl{
    font-size: 1.2vw;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 1% 0;
}


@media screen and (max-width:700px){
    
    .container{
        width:100% !important;
    }
    .prof-cont{
        
        padding: 13% 0;
       
    }
    .projects{
        width:100%;
    }
    .project{
        width: 100%;
        margin: 0 auto;
      
    }
    .site-ttl{
        font-size: 2.5vw;
        margin-left: 5%;
        }
        .icons a:nth-child(1){
    
        font-size: 2.1vw;
        }
    
        .country-ttl{
              font-size: 2vw;
        }
        .country,.dev a {
        font-size: 1.7vw;
        }
    
    
}
@media screen and (min-width:701px) and (max-width:900px){

    .prof-cont{
        
        padding: 13% 0;
       
    }
    .project{
        width: 47%;
      
      
    }
    .site-ttl{
         font-size: 1.9vw;
    }
    .icons a:nth-child(1){

    font-size: 1.6vw;
    }


    .country,.dev a{
    font-size: 1.4vw;
    }
}