body{
    background-color:#f4f7f6;
    }
    .container{
        width: 90%;
        margin:0 auto;
    }
    

    
    .projects{
        display: flex;
        flex-wrap: wrap;
        gap:30px
    }

    .voted{
        display: none;
        flex-wrap: wrap;
        gap:20px;
    }
    .project{
        width: 30%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap:0;
    }
    .project .image{
        height: 70%;
        width: 100%;
        transition: transform 1s ease-in-out;
    }
    .project .image img{
        height: 100%;
        width: 100%
    }
    .project:hover .icons{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    }
    
    .icons{
        position: absolute;
        top:0;
        left:50%;
        flex-direction: column;
        align-items: center;
        display: none;
        justify-content: center;
        transition: transform 1s ease-in-out;
        transform: translateX(-50%);
        height: 70%;
        width: 100%;
    }
    .score{
        font-weight: 600;
        color: #fff !important;
        font-size: 1.5vw;
        margin-bottom: 2%;
    }

    
    
    .vote{
    text-decoration: none;
    color:black;
    padding: 3% 5%;
    border-radius: 30px;
    background-color: white;
    font-size: 1.1vw;
    }



    /* edit btn */
   .ed{
    display: flex;
    align-self: flex-start;
    gap: 20px;
   }
    .ed button{
        border: 1px solid #111;
        background-color: transparent;
        font-weight: 300;
        padding: 5% 25%;
        border-radius: 17px;
        color: black;
        font-size: 1vw
    }
    .ed a{
        text-decoration: none;
        border: 1px solid #111;
        background-color: transparent;
        font-weight: 300;
        padding: 5% 20%;
        border-radius: 17px;
        color: black;
        font-size: 1vw
       
    }

    /* end of edit btn */
    
    .share{
        color:white;
        text-decoration: none;
        /* align-self: center; */
        border: 1px solid white;
        height: 32px;
        width: 32px;
        margin-top: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
    
    }
    .details{
        background-color: white;
        padding: 4%;
        height: 30%;
    }
    
    .country{
        display: flex;
        align-items:center;
        justify-content: space-between;
        font-weight: 300;
        font-size: 1vw;
    }
    .country p:nth-child(1){
        font-weight: 300 !important;
    }
    
    .profile_p{
        height: 64px;
        width: 64px;
        aspect-ratio: 1 /1 ;
        border-radius: 50%;
    }
    .dev{
        display: flex;
        width: 100%;
        align-items: center;
        gap:10px;
        padding: 2% 0;
    }
    .dev a {
        text-decoration: none;
        color: #080210;
        font-weight: 300;
        font-size: 1vw;
    }
    .dev a span{
        font-weight: 600;
        text-transform: uppercase;
    }
    .hr{
        background-color: #dbe0df;
        height: 1px;
        width: 100%;
    }


    .prof-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 5% 0;
        font-weight: 600;
    }

    .project-toggler{
        display: flex;
        gap: 10px;
        padding: 3% 0;
        align-items: center;

    }
#voted{
        font-weight: 300;
        cursor: pointer;
    }

#projects{
    font-weight: 600;
    cursor: pointer;
}
.form-div{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 1000;
    animation: fadeIn 1s ease 0s 1 normal forwards;;
}
.hide{
   position: absolute;
   right:10%;
   top:10%;
   background: transparent;
   color:white;
   height: 32px;
   width: 32px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.2vw !important;
   border-radius: 50%;
   border: 1px solid white;
}
.form{
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    /* align-items: left; */
    background-color: #f4f7f6;
    padding: 4% 2%;
    width: 50%;
    gap:15px; 
}
.form input,.form select{
    padding:2% 1%;
}
.form label {
    font-size: 1vw;
}
.form input[type='submit']{
    background-color: #49c5b6;
    border: none;
    color:white;
}
.form input[type='submit']:hover{
    background-color: #44b4a6;
}
.bio{
    font-size: .8vw;
    font-weight: 300;
}
.uname{
    font-size: 1.2vw;
}
.country-ttl{
    font-size: 1.3vw;
    font-weight: 600;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}


@media screen and (max-width:700px){
    .container{
        width: 100%;
        margin:0 auto;
    }
    .country-ttl{
        font-size: 2vw;
  }

    .prof-cont{
        padding: 13% 0;
    }
    .form-div form{
        width: 90%;
        margin: 0 auto;
    }
    .ed,.project-toggler{
        margin-left: 5%;
    }
    .ed button,.ed a{
        font-size: 2.5vw !important;
    }
    .form-div button{
        font-size: 2.5vw !important;
    }
    .form-div label{
        font-size: 2.5vw;
    }
    .bio{
        font-size: 1.5vw;
    }
    .uname{
        font-size: 2vw;
    }
    
    .projects{
        width: 100%;
        margin:0 auto;
        padding:0
    }
    .project{
        width: 100%;
        margin: 0 auto;
      
    }
    .score{
        font-size: 1.5vw;;
    }
    .vote,.country,.dev a{
    font-size: 2.5vw;
    }
    
   
}
@media screen and (min-width:701px) and (max-width:900px){

    .prof-cont{
        
        padding: 13% 0;
       
    }
    .project{
        width: 47%;
       
    }

    .score{
        font-size: 1.5vw;;
    }
    .vote,.country,.dev a{
    font-size: 2.1vw;
    }

}
